*{
    margin: 0;
    padding: 0;

}



body{
    font-family: 'Work Sans';
    width: 100vw;
    overflow-x: hidden;
}

.btn-primary{
    padding: 1.2rem 2.5rem;
    color: white;
    border-radius: 2rem;
    background-color: #FF42A5;
    margin:1.5rem .5rem ;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border: 4px solid rgba(255, 255, 255, 0);
}

.btn-primary:hover{
    border: 4px solid #a5126a;
}

.common-h3{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3rem;
font-weight: 700;
}

.common-p{
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
}
.title-color{
color: #FF42A5;
}

/* nav bar  */
.title{
display: flex;
align-items: center;
/* border: 1px solid red; */
justify-content: center;
}

.title h3{
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
}
.title-img{
    width: 5rem;
   
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 15rem;
}

.nav>ul img{
    width: 2rem;
}

.nav>ul{
    display: flex;
    align-items: center;
    
}

.nav>ul a{
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 1.5rem;
margin-left: 1.5rem;
text-decoration: none;
}
.nav>ul>li div{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;

}
.nav>ul img{
    cursor: pointer;
}

.nav>ul li{
    list-style: none;
}

.banner{
    padding: 0px 15rem;
    background-color: #fefdffc5;
    display: flex;
justify-content: space-between;
align-items: center;
background: url(../images/banner-bg.png);
background-repeat: no-repeat;
}


.banner-content h3{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

}


/* Copied this part from figma */
.banner-content h2{
 background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-size: 6rem;
font-weight: 800;
text-transform: uppercase;
}


.banner-content ul{
    color: #534C64;
font-size: 1.2rem;
font-weight: 500;
}

.banner-img img{
    width: 40rem;
}


.btn-rogue{
    background-color: #4EC5F7;
}

.banner-btn-container{
    display: flex;

}


/* Main section */

.we-are-gamer{
    padding: 3rem 15rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.we-are-gamer h3{
    text-align: right;
}

.gamer-button{
    display: flex;
    flex-direction: row-reverse;
}

.we-are-gamer h4{
    color: #534C64;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: right;
}

.gamer-img img{
    width: 40rem;
}

.gamer-content{
    max-width: 32rem;
}

/* Funny Videos section  */
.funnt-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.funny-content-h3{
color: #0B0223;
text-align:center;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.funny-videos-main-container{
    padding: 3rem 15rem;
    /* display: none; */
}
.funny-videos-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.funny-videos{
    max-width: 17rem;
}




















/* Small screen */

@media screen and (max-width: 572px) {
    .nav,
    .nav ul
    {
        flex-direction: column;
        gap: 1rem;
    }

    .nav,
    .banner
    {
        padding: 1rem;
    }

    .nav ul{
        margin-top: 2rem;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 3rem;
        margin-top: 2rem;
    }
  .banner-content h3{
    font-size: 2rem;
  }
  .banner-content h2{
    font-size: 4rem;
  }
 .banner-content li{
    font-size: 1rem;
 }
    .banner-btn-container .btn-primary{
        font-size: 1rem;
        padding: .5rem 1rem;
    }
.banner-img img{
    width: 90%;
}

.we-are-gamer{
    flex-direction: column;
    padding: 1rem;
background-color: white;

}

.gamer-content{
    max-width: 90%;
}
.gamer-img img{
    width: 95%;
}

.common-h3{
    font-size: 2rem;
}
 
.gamer-content h4{
    font-size: 1.5rem;
}
.funny-videos-container{
    flex-direction: column;
    gap: 3rem;
    max-width: 95%;
    margin: auto;
}
.funny-videos-main-container{
    padding: 1rem;
}

.funny-content{
   
    max-width: 90%;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
.funny-content-h3{
    font-size: 2rem;
}





}








/* Tablet screen */
@media screen and (min-width:572.1px) and (max-width: 980px) {

.nav{
    padding: 2rem;
}

.nav{
    flex-direction: column;
    gap: 2rem;
}
.nav ul{
    margin: auto;
}
.banner{
    flex-direction: column-reverse;
    gap: 6rem;
    margin-top: 2rem;
    padding: 1rem 3rem;
    
}
.we-are-gamer{
    flex-direction: column;
    padding: 3rem;
background-color: white;

}

.funny-content{
   
    max-width: 90%;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
.funny-videos-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.funny-videos{
    width: calc((100% - 2rem)/2);
}
.funny-videos-main-container{
    padding: 3rem;
}

.funny-videos p{

    width: 15rem;
}



}